    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Debian Day</h2>
              <br/>
                <p>O Debian Day é um evento anual que celebra o projeto Debian, uma das distribuições GNU/Linux mais antigas</p>
                <p>e respeitadas. O evento é organizado por voluntários e entusiastas do Debian em todo o mundo, com o objetivo</p>
                <p>de promover o uso do Debian, compartilhar conhecimentos e fortalecer a comunidade.</p>
                <br/>
              </div>
        </div>
    </section>
